/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

/* html5 font face */

body
{
    background: rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
}

.reveal a
{
    color: grey;
}
